.click{
    cursor: pointer;
    font-size:15px;
    font-weight:700;
}

.click:hover{
    background-color: rgb(245, 243, 243);
   
}

.title{
    color:red;
    font-size:20px;
}

.brand{
    margin: auto;
}

.Nvbar{
    background-color:rgba(128, 0, 128, 0.158);
}

